<section class="content-header">
  <h1>
    Update Hospital
  </h1>
</section><br/>
<div class="row">
  <div class="col-md-3">
    <%= render partial: 'doctors/profile_sidebar' %>
  </div>
  <div class="col-md-9">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#timeline" data-toggle="tab">Update Hospital Info</a></li>
      </ul>
      <div class="tab-content">
        <div class="active tab-pane" id="timeline">
          <%= form_for @hospital, :url=> hospital_path, html: { method: :put, class: 'form-horizontal'}  do |f| %>
            <%= render partial: 'form', locals:{f: f}%>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <%= f.submit 'Update Info', class: 'btn btn-success' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <!-- /.tab-content -->
    </div>
    <!-- /.nav-tabs-custom -->
  </div>
</div>
