<!DOCTYPE html>
<html>
  <head>
    <title>Doctor Hub | Health is Wealth</title>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-visit-control" content="reload">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  </head>
  <body class="hold-transition login-page register-page">
    <div class="login-box register-box">
      <%= yield %>
    </div>
  </body>
</html>
